*{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body{
  margin: 0;
  padding: 0;
}

.header-container {
  text-align: center;
  height: 100px;
  width: 100%;
  display: flex;
  background-color: #3d4fb8;
}

.header-element {
  flex: 1;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  font-weight: 350;
  font-style: normal;
  font-size: 24pt;
  line-height: 275%;
  color: white;
  background-color: #546eff;
  border: 1px #3d4fb8 solid;
  cursor: pointer;
}

.selected-element {
  background-color: #3d4fb8;
}

.animation-container {
  margin: auto;
  position: relative;
  border: 3px black;
  width: 50%;
  max-width: 500px;
  min-width: 50px;
  height: 500px;
}

.gear-rotate-clockwise {
  animation: clockwise-rotation 30s infinite linear;
  position: absolute;
  left: 37.5%;
  top: 37.5%;
  margin-top: -25%;
  margin-left:-25%;
  width: 50%;
}

.gear-rotate-counter-clockwise {
  animation: counter-clockwise-rotation 30s infinite linear;
  position: absolute;
  top: 62.5%;
  left: 62.5%;
  margin-top: -25%;
  margin-left:-25%;
  width: 50%;
}

@keyframes clockwise-rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes counter-clockwise-rotation {
  from {
    transform: rotate(359deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.centered {
  margin: auto;
  text-align: center;
  margin-top: 10%;
}

.roboto-font {
  font-family: 'Roboto Mono', monospace;
}

.error-text {
  font-weight: 700;
  font-style: normal;
  font-size: 40pt;
}
