body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}

.headshot {
    width: 25%;
    height: 25%;
    display: block;
    margin: auto;
    border-radius: 50%;
    border: black 2px solid;
}

.centeredText {
    text-align: center;
}

.spacedText {
    margin-top: 48px;
}

h1,
h2 {
    color: #2c3e50;
}

h1 {
    font-size: 30pt;
    margin-bottom: 6pt;
}

h2 {
    font-size: 22pt;
    margin-top: 18pt;
    margin-bottom: 6pt;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #fff;
    margin: 6pt 0;
    padding-left: 48pt;
    padding-right: 48pt;
    padding-top: 4pt;
    padding-bottom: 4pt;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

li strong {
    color: #2980b9;
}

p {
    line-height: 1.6;
    margin: 12pt 0;
}

.contactInfoLabel {
    text-align: center;
}

.projectDescription {
    text-align: justify;
}

.material-icons {
    vertical-align: middle;
}

.ResumeButton {
    background-color: #2980b9;
    color: white;
    font-size: 18pt;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 18pt;
    width: 100%;
    /* Make the button span the full width */
    box-sizing: border-box;
    /* Include padding and border in the element's total width and height */
    display: flex;
    align-items: center;
    justify-content: center;
}

.ResumeButton .material-icons {
    margin-right: 6pt;
    vertical-align: middle;
    /* Vertically center the icon */
}

.ResumeButton:hover {
    background-color: #246ea0;
}

em {
    line-height: inherit;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.home-projects-link {
    color: rgb(51, 51, 51);
}

.publications-link {
    background: none;
    border: none;
    text-align: center;
    cursor: pointer;
    color: rgb(51, 51, 51);
}

.publications-link:hover {
    text-decoration: underline;
}

.dark-mode .publications-link {
    color: #bb86fc;
}

.dark-mode .publications-link:hover {
    color: rgb(55, 0, 179);
}

.publication {
    text-align: center;
    cursor: inherit;
    color: inherit;
}

.publicationType {
    font-weight: bold;
    cursor: inherit;
    color: inherit;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 24pt;
}

.button-container {
    display: flex;
    flex-direction: column;
}

.project-images {
    display: flex;
    flex-wrap: wrap;
    gap: 12pt;
    justify-content: center;
}

.project-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.slideshow-container {
    position: relative;
    width: 100%;
    height: 100%;
    aspect-ratio: 2 / 1; /* Maintain a 2:1 aspect ratio */
    overflow: hidden;
    border-radius: 8px;
}

.slideshow-container-background {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cacaca;
    border-radius: 8px;
}

.dark-mode .slideshow-container-background {
    background-color: #171618;
}

.slideshow-media {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Ensure the image/video fits within the container */
    border-radius: 8px;
    z-index: 1;
}

.image-description {
    margin-top: 6pt;
    font-size: 16pt;
    color: #666;
    text-align: center;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    transform: translateY(-50%);
    color: white;
    font-weight: bold;
    font-size: 24pt;
    transition: background-color 0.3s ease;
    border-radius: 10%;
    user-select: none;
    background-color: #2980b9;
    z-index: 5;
    box-shadow: none;
    outline: none;
}

.next {
    right: 10px;
}

.prev {
    left: 10px;
}

.prev:hover,
.next:hover {
    background-color: #1a5276;
}

.project-details {
    margin-top: 24pt;
    text-align: center;
}

.github-link {
    cursor: pointer;
    display: inline-block;
    margin-top: 12pt;
    padding: 10pt 18pt;
    background-color: #333;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.github-link:hover {
    background-color: #555;
}

.relatedProjectsLink {
    display: block;
    padding: 10pt 18pt;
    background-color: #333;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.relatedProjectsLink:hover {
    background-color: #555;
}

.dark-mode body {
    background-color: #121212;
    color: #e0e0e0;
}

.dark-mode h1,
.dark-mode h2 {
    color: #bb86fc;
}

.dark-mode li {
    background: #1e1e1e;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.dark-mode li strong {
    color: #bb86fc;
}

.dark-mode a {
    color: #bb86fc;
}

.dark-mode a:hover {
    color: #3700b3;
}

.dark-mode .ResumeButton {
    background-color: #bb86fc;
    color: #ffffff;
}

.dark-mode .github-link {
    background-color: #bb86fc;
    color: #ffffff;
}

.dark-mode .github-link:hover {
    background-color: #8861b8;
    color: white;
}

.dark-mode .ResumeButton.active {
    color: white;
}

.dark-mode .prev,
.dark-mode .next {
    background-color: #bb86fc;
    color: #000000;
}

.dark-mode .prev:hover,
.dark-mode .next:hover {
    background-color: #6338c9;
}

.version-selector {
    margin: 24pt 0;
}

.active {
    background-color: #143950 !important;
}

.dark-mode .active {
    background-color: #5e34bf !important;
}

.hint {
    font-size: 10pt;
    color: #666;
    font-style: italic;
}

.dark-mode .hint {
    color: #aaa;
}

/* Add this new rule for dark mode button hover */
.dark-mode .ResumeButton:hover {
    background-color: #8861b8;
    color: white;
}

/* Also update the active button text color in dark mode */
.dark-mode .ResumeButton.active {
    color: white;
}

.hintInner {
    font-size: 10pt;
    font-style: italic;
    cursor: inherit;
}

.missionStatementParagraph {
    line-height: 36pt;
}

.popover-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1001;
}

.popover {
    background: white;
    outline: black 2px solid;
    padding: 24pt;
    max-width: 600px;
    width: 90%;
    max-height: 80%;
    overflow-y: auto;
}

.dark-mode .popover {
    /* background-blend-mode: normal, multiply; */
    background: black;
    outline: #624784 2px solid;
}

@media (max-width: 600px) {
    li {
        padding-left: 12pt;
        padding-right: 12pt;
    }

    .ResumeButton {
        font-size: 12pt !important;
    }
}

.centeredButton {
    display: flex;
    justify-content: center;
}

.centeredButtonMargin {
    padding-left: 40pt;
    padding-right: 40pt;
}

.buttonFix {
    width: 100%;
    outline: none;
    border: none;
}

.buttonFix:hover {
    text-decoration: underline;
}

.iconWithText {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16pt;
}

.icon {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.auto-scroll-container {
    width: 100%;
    height: 50px;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 10px;
    scroll-behavior: auto;

    scrollbar-width: none;
    -ms-overflow-style: none;
}

.auto-scroll-container.overflowing {
    justify-content: flex-start; /* Align to the left horizontally when overflowing */
}

.auto-scroll-container::-webkit-scrollbar {
    display: none;
}

.auto-scroll-row {
    display: inline-flex;
    align-items: center;
}

.scroll-image {
    width: 40px;
    height: 40px;
    object-fit: contain;
    margin-right: 10px;
}

.versionChanges {
    text-align:center;
}