nav {
    display: flex;
    width: 100%;
}

.navLink {
    flex: 1;
    display: flex;
    text-decoration: none;
}

.linkButton {
    flex: 1;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-weight: 1200;
    font-style: normal;
    font-size: 12pt;
    line-height: 275%;
    color: rgb(255, 255, 255);
    background-color: #546eff;
    cursor: pointer;
}

.selectedButton {
    background-color: #3d4fb8;
}

.navLink {
    flex: 1;
}

.navbar {
    background-color: #fff;
}

.navbar a {
    color: #333;
    text-decoration: none;
}

.navbar a:hover {
    text-decoration: underline;
}

/* Dark mode styles */
.dark-mode .navbar {
    background-color: #1e1e1e;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.dark-mode .navbar a:hover {
    color: #bb86fc;
}

.navbar a:hover {
    color: #afbbff;
}

.dark-mode .linkButton {
    background-color: #502485;
}

.dark-mode .selectedButton {
    background-color: #201638;
}

.App-header {
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

.navLink {
    text-decoration: none;
}

.linkButton {
    background: none;
    border: none;
    font-weight: 1200;
    font-size: 28pt;
    cursor: pointer;
    padding: 6pt 12pt;
    color: white;
    background-color: #546eff;
    outline: black 4px solid;
    outline-offset: -2px;
}

.selectedButton {
    background-color: #3d4fb8;
}

@media (max-width: 850px) {
    .linkButton {
        font-size: 12pt;
    }
}

@media (max-width: 480px) {
    .linkButton {
        font-size: 10pt;
    }
}