body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    color: #2c3e50;
    font-size: 30pt;
    margin-bottom: 6pt;
}

.grid-container {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 12pt;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Use auto-fit instead of auto-fill */
    gap: 50pt;
    justify-content: center; /* Center items horizontally */
    justify-items: center;   /* Center individual items */
}

.projectsTitle {
    text-align: center;
}

.grid-item {
    text-decoration: none;
    color: inherit;
    width: 100%;
    max-width: 350px;
    justify-self: center;
    /* Ensure each grid item has the same size */
}

.project-card {
    background: #fff;
    padding: 12pt;
    border-radius: 8px;
    border: rgb(0, 0, 0) 2px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    /* Ensure each grid item has the same height */
    overflow: hidden;
    /* Hide overflow text */
    text-align: center;
    position: relative;
    box-shadow: 10px 10px 15px rgb(106, 106, 106);
}

.project-card:hover {
    transform: translateY(-5px);
}

/*.project-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:inherit;
    filter: blur(10px);
    z-index: 0;
}*/

.project-card::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, transparent, rgba(0, 0, 0, 0.25));
    z-index: 1;
}

.dark-mode .project-card::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, transparent, rgba(0, 0, 0, 0.5));
    z-index: 1;
}

.blurCover {
    position: absolute;
    width: 100%;
    height: 100%;
    ;
    backdrop-filter: blur(10px);
}

.project-content {
    position: relative;
    z-index: 1;
    border-radius: 8px;
    width: 100%;
}

.project-content {
    background: rgba(255, 255, 255, 0.8);
    /* Light mode background color */
}

.dark-mode .project-content {
    background: rgba(0, 0, 0, 0.8);
    /* Dark mode background color */
}

.project-card h2 {
    color: #2980b9;
    margin-bottom: 12pt;
    overflow: hidden;
    /* Hide overflow text */
    text-overflow: ellipsis;
    /* Add ellipsis for overflow text */
}

.project-card p {
    font-size: 12pt;
    line-height: 1.6;
    overflow: hidden;
    /* Hide overflow text */
    text-overflow: ellipsis;
    /* Add ellipsis for overflow text */
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* Limit to 3 lines */
    -webkit-box-orient: vertical;
}

.project-card p,
.project-card h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Dark mode styles */
.dark-mode body {
    background-color: #121212;
    color: #e0e0e0;
}

.dark-mode h1 {
    color: #bb86fc;
}

.dark-mode .project-card {
    background: #ffffff;
    box-shadow: 10px 10px 15px rgb(40, 40, 40);
}

.dark-mode .project-card h2 {
    color: #bb86fc;
}

@media (max-width: 800px) {

    .contactInfoLabel {
        font-size: 16pt;
    }

    .ResumeButton {
        font-size: 8pt !important;
    }
}

@media (max-width: 600px) {

    .contactInfoLabel {
        font-size: 12pt;
    }

    .ResumeButton {
        font-size: 6pt !important;
    }
}

@media (max-width: 300px) {

    .contactInfoLabel {
        font-size: 8pt;
    }

    .ResumeButton {
        font-size: 4pt !important;
    }
}