body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    color: #2c3e50;
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1em;
    padding: 2em;
    justify-items: center;
}

.projectsTitle {
    text-align: center;
}

.grid-item {
    text-decoration: none;
    color: inherit;
    width: 100%;
    max-width: 350px; /* Ensure each grid item has the same size */
}

.project-card {
    background: #fff;
    padding: 1em;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px; /* Ensure each grid item has the same height */
    overflow: hidden; /* Hide overflow text */
    text-align: center;
    position: relative;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/*.project-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:inherit;
    filter: blur(10px);
    z-index: 0;
}*/

.dark-mode .project-card::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, transparent, rgba(0, 0, 0, 0.5));
    z-index: 1;
}

.blurCover {
    position: absolute;
    width: 100%;
    height: 100%;;
    backdrop-filter: blur(10px);
}

.project-content {
    position: relative;
    z-index: 1;
    border-radius: 8px;
    width:100%;
}

.project-content {
    background: rgba(255, 255, 255, 0.8); /* Light mode background color */
}

.dark-mode .project-content {
    background: rgba(0, 0, 0, 0.8); /* Dark mode background color */
}

.project-card h2 {
    color: #2980b9;
    margin-bottom: 1.0em;
    overflow: hidden; /* Hide overflow text */
    text-overflow: ellipsis; /* Add ellipsis for overflow text */
}

.project-card p {
    font-size: 1em;
    line-height: 1.6;
    overflow: hidden; /* Hide overflow text */
    text-overflow: ellipsis; /* Add ellipsis for overflow text */
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Limit to 3 lines */
    -webkit-box-orient: vertical;
}

.project-card p, .project-card h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Dark mode styles */
.dark-mode body {
    background-color: #121212;
    color: #e0e0e0;
}

.dark-mode h1 {
    color: #bb86fc;
}

.dark-mode .project-card {
    background: #1e1e1e;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.dark-mode .project-card h2 {
    color: #bb86fc;
}